.App {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.Text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(5px + 1vmin);
}

.Main {
  position: fixed;
  margin-top: 10vh;
  margin-bottom: 10vh;
  height: 80vh;
  width: 100vw;
  overflow-y: auto;
}

.Result {
  margin-right: 3vw;
  margin-left: 3vw;
  margin-top: 1vh;
  margin-bottom: 6vh;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.InputBox {
  /* width: 10vw; */
  margin-bottom: 4vh;
  margin-top: 4vh;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: rgba(211, 211, 211, 0.5);
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: 2px solid#172B4D; */
  border-radius: 0.5em;
}

.AddReset {
  margin-left: 5vw;
  margin-right: 5vw;
  margin-bottom: 2vh;
}

.Input {
  width: 10vw;
  /* min-width: 3cm; */
  margin: 1em;
  /* border: 2px solid black;
  border-radius: 0.3em; */
}

.Selection {
  width: 10vw;
  /* border: 2px solid black;
  border-radius: 0.3em; */
}

.App-header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 10vh;
  background-color: #282c34;
  color: white;
}

.App-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: #282c34;
  color: white;
}
