.App {
  background-color: white;
  width: 100vw;
  height: 100vh;
}

.Text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(5px + 1vmin);
}

.Main {
  margin-right: 4em;
  margin-left: 4em;
}

.InputBox {
  /* width: 10vw; */
  margin-bottom: 1em;
  margin-top: 1em;
  background-color: rgba(211, 211, 211, 0.5);
  height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  /* border: 2px solid#172B4D; */
  border-radius: 0.5em;
}

.Input {
  width: 10vw;
  /* min-width: 3cm; */
  margin: 1em;
  /* border: 2px solid black;
  border-radius: 0.3em; */
}

.App-header {
  background-color: #282c34;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 10vh;
  background-color: #282c34;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-size: calc(10px + 2vmin);
  text-align: center;
}
